<div id="newappointment"  class="ui container">
<% if @upcoming_schedules.any? %>
<p><b>Upcoming assignments</b> <a class="ui black circular label"><%= @upcoming_schedules.length %></a></p>
<div class="ui table" style="overflow-y: scroll; height: 20em;">
  <%= render @upcoming_schedules %>
</div>
<% else %>
  <p class="appointment_main">No appointments yet.</p>
<% end %>
</div>
