<%= month_calendar events: appointments do |date, appointments| %>

  <% appointments.each do |appointment| %>
    <div class="appointment<%= highlight_appointment(appointment) %>">
      <% if current_staff %>
      <%= link_to(appointment_text(appointment), client_path(appointment), :remote => true ) %>
      <% else %>
      <%= appointment_text(appointment) %>
      <% end %>
    </div>
  <% end %>
<% end %>
