<div class="ui grid container">
<div class="twelve wide column">
  <div id="events_calendar">
    <%= add_monthly_calendar(@appointments) %>
  </div>
</div>

  <div class="four wide column">
    <br />
    <%= render partial: "assignment" %>
  </div>
</div>
