<div class="ui stackable four column doubling grid container">
  <div class="column">
    <p> <%= client_name(client) %></p>
  </div>
  <div class="column">
    <p><%= client_email(client) %></p>
  </div>
  <div class="column">
    <p><%= client_phone(client) %> </p>
  </div>
  <div class="column">
    <p>Appointment </p>
  </div>
</div>
