<div class="ui container">
<% if clients.any? %>
<p><b>Current clients</b> <a class="ui black circular label"><%= clients.length %></a></p>

<div class="ui table" style="overflow-y: scroll; height: 16em;">
<%= render partial: "client_index", collection: clients, as: :client %>
</div>
<% else %>
<% end %>
<% if current_user %>
<p><i class="add user #49483A icon"></i><%= link_to "Add a new client", new_client_path, :remote => true %></p>
<% end %>
</div>
