<% if current_user %>
<span><i class="caret right icon"></i> <%= client_name(client) %></span><br />
<% elsif current_staff %>
<span><i class="caret right icon"></i> <%= client.name %></span><br />
<% else %>
<% end %>

<small><%= link_to "Client details", client_path(client), :remote => true %></small>
<br />
<p />
