<h1>Clients </h1>
<%= @clients.inspect %>
<% if @clients.any? %>
<div class="ui stackable four column doubling grid container">
  <div class="blue column">
    <h3>Name</h3>
  </div>
  <div class="teal column">
    <h3>Email</h3>
  </div>
  <div class="brown column">
    <h3>Phone #</h3>
  </div>
  <div class="yellow column">
    <h3>Appointments</h3>
  </div>
</div>
<% else %>
<p>No clients yet.</p>
<% end %>
<%= render partial: "client_index", collection: @clients, as: :client %>
