<div class="ui container">
<p />
<% if @clients.any? %>
<div class="ui stackable four column doubling grid container">
  <div class="column">
    <b>Name</b>
  </div>
  <div class="column">
    <b>Email</b>
  </div>
  <div class="column">
    <b>Phone #</b>
  </div>
  <div class="column">
    <b>Appointments</b>
  </div>
</div>
<% else %>
<p>No clients yet.</p>
<% end %>
<%= render partial: "client_index", collection: @clients, as: :client %>
</div>
