<body class="splash">
  <div class="ui container">
<span id="welcome">A simple tool for</span>
<br/>
<span id="welcome1">scheduling in teams <i class="add to calendar icon"></i></span>
<br/>
</div>
</body>
