/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
@import "semantic-ui";

#welcome {
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  font-size: 68px;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
#welcome1 {
  font-family: 'Archivo Black', sans-serif;
  color: white;
  font-size: 68px;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
}
#welcome2 {
  color: rgb(255, 75, 52);
  font-size: 60px;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
}

.splash {
  background: url(/assets/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.ui.menu {
  background: transparent;
}

b {
  color: rgb(255, 75, 52);
}

.ui.table {
  background: #f5f5f4;
}

//
// width: 100%;
// background: red;
// margin: 1em 0em;
// border: 1px solid rgba(34, 36, 38, 0.15);
// box-shadow: none;
// border-radius: 0.28571429rem;
// border-spacing: 0px;
// }

.ui.table thead th {
    cursor: auto;
    text-align: inherit;
    background: #e4e2e2;
    color: rgb(255, 75, 52);
    padding: 0.92857143em 0.78571429em;
    vertical-align: inherit;
    font-style: none;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    border-left: none;
}

.appointmentform {
  color: black !important;
}

.staff {
  color:black !important;
}

.client {
  color:black !important;
}
.ui.menu {
  border: none;
  box-shadow: none;
}
.entry {
  color: white !important;
  font-weight: bolder;
}
.tracked_icon {
  font-size: 2em;
  font-weight: bolder;
}
