<div class="appointment">
  <%= appointment_heading(appointment) %>
  <%= appointment_details(appointment) %><br />
  <small><%= appointment_edit_delete_links(appointment) %></small>
  <br />
  <br />
</div>
