<div class="appointment">
  <%= appointment_heading(appointment) %>
  <%= appointment_details(appointment) %>
  <p class="appointment_main">
    <%= appointment_edit_delete_links(appointment) %>
  </p>
</div>
