<% if current_user.clients.any? %>
<div class="field">
  <p>
    <b>Create a new appointment</b>
    <p />
    <%= label_tag :client %>
    <%= collection_select :appointment, :client_id, current_user.clients, :id, :name, { prompt: true } %>
  </p>
</div>
<% end %>
