<div id="newappointment" class="ui container">

<% if @upcoming_appointments.any? %>
<p class="appointment_main"><b>Upcoming Appointments</b></p>
<div class="ui table" style="overflow-y: scroll; height: 20em;">
  <%= render @upcoming_appointments %>
</div>
<% else %>
  <p class="appointment_main">No appointments yet.</p>
<% end %>
</div>
