<%= add_weekly_calendar(@appointments) %>
<br />
<div class="row">
  <div class="col-md-4">
    <h1>Edit Appointment</h1>
    <%= render partial: "form", locals: { appointment: @appointment, client: @client, staff: @staff } %>
    <p>
      <%= link_to "Delete", @appointment, method: :delete, data: { confirm: "Are you sure you want to delete this appointment?", :remote => true, :class => 'delete_appointmentedit' } %>
    </p>
  </div>
</div>
