<div id="events_calendar">
<%= add_monthly_calendar(@appointments) %>
</div>
<br />
<p class="appointment_main"><%= link_to "Make a new booking", new_appointment_path %></p>
<% if @upcoming_appointments.any? %>
<p class="appointment_main">Upcoming Appointments</p>
  <%= render @upcoming_appointments %>
<% else %>
  <p class="appointment_main">No appointments yet.</p>
<% end %>
