<div class="ui equal height grid container">
<div class="twelve wide column">
  <div id="events_calendar">
    <%= add_monthly_calendar(@appointments) %>
  </div>
  <br />

</div>
  <div class="four wide column" >
    <br />
    <%= render partial: "newappointment" %>
  </div>
</div>
