<div id="events_calendar">
<%= add_monthly_calendar(@appointments) %>
</div>
<br />
<p class="appointment_main"><%= link_to "Make a new booking", new_appointment_path, :remote => true %></p>
<%= render partial: "newappointment" %>
