<div class="ui grid container">

  <div class="four wide column">
    <h1>New Appointment</h1>
    <%= render partial: 'form', locals: { appointment: @appointment, client: @client, staff: @staff } %>
  </div>
<div id="events_calendar">
      <%= add_monthly_calendar(@appointments) %>
  </div>
</div>
