<div class="ui grid container">

  <div class="four wide column">
    <h1>New Appointment</h1>
    <%= render partial: 'form', locals: { appointment: @appointment, client: @client, staff: @staff } %>
  </div>
  <div class="eight wide column">
    <%= add_weekly_calendar(@appointments) %>
  </div>
</div>
